<div class="card">
    <div class="card-body">
        <form (ngSubmit)="onSubmit()" [formGroup]="form">

            <div *ngFor="let formField of formFields" class="">
                <app-form-field [formField]="formField" [form]="form"></app-form-field>
            </div>

            <div class="form-group">
                <button type="submit" [disabled]="!form.valid" class="btn btn-success">Save</button>
            </div>

        </form>

        <div *ngIf="payLoad">
            <strong>Saved the following values</strong><br>{{payLoad}}
        </div>

    </div>
</div>